# Godot 4+ specific ignores
.godot/
/android/
# Archivos de sistema
.DS_Store
Thumbs.db

# Carpetas de compilación y cache
.import/
export/
build/

# Configuración de usuario
*.cfg
*.log
*.mono/
*.tres
*.tscn

# Archivos específicos de Godot
*.pck
*.exe
*.zip
